link(href='styles/style.styl' rel='stylesheet')
include lib/icons-sprite.svg

#content
  include sidebar.pug
  include posts.pug
  include post.pug










script(type='text/javascript' src='utils.js')
script(type='text/javascript' src='prototype.js')
