mixin post
  .post
    .preview.fake-image
    .title I hiked alone all day, ran away from two moose, and took a picture of the most amazing view from the summit. Alta, Utah, USA, [4000x6000]
    .tags
      .tag.main
        .name #photography
        .count 233
      .tag
        .name #utah
        .count 43
    .details
      .vote-count 412
      .user
        .user-avatar
        .user-name pwnies
  
#posts-list
  #posts-header
    ul#posts-filter
      li.filter.active All
      li.filter Images
      li.filter Video
      li.filter Audio
      li.filter Blogs
    input#search(placeholder='Search')
    #search-icon
  #posts-list-container
    +post
    +post
    +post
    +post
    +post
    +post
    +post
    +post
    +post
    +post
    +post
    +post
    +post
    +post
    +post
    +post
    +post
    +post
    +post
    +post
    +post
    +post
